* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 10px;
}

.container div {
    box-sizing: border-box;
}

.container .col {
    height: 70px;
    float: left;
    padding: 10px;
}

.content {
    border: solid 1px #999;
    background-color: #eee;
    height: 100%;
}

.row:before,
.row:after {
    content: '';
    display: table;
    clear: both;
}

@media (max-width: 768px) {
    .col-sm-2 {
        width: calc(100%/12*2);
    }
    .col-sm-3 {
        width: calc(100%/12*3);
    }
    .col-sm-6 {
        width: calc(100%/12*6);
    }
    .col-sm-8 {
        width: calc(100%/12*8);

    }
    .col-sm-12 {
        width: calc(100%/12*12);
    }
}

@media (min-width: 768px) {
    .col-bg-1 {
        width: calc(100%/12*1);
    }
    .col-bg-2 {
        width: calc(100%/12*2);
    }
    .col-bg-3 {
        width: calc(100%/12*3);
    }
    .col-bg-4 {
        width: calc(100%/12*4);
    }
    .col-bg-6 {
        width: calc(100%/12*6);
    }

}
