html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
}

.container {
    position: absolute;
    width: 630px;
    height: 115px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
}

/* Hide the browser's default radio button */
.check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: solid 1px #eee;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .check-mark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .check-mark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.check-mark:after {
    content:"";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .check-mark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .check-mark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

.container > *{
    float: left;
}

.container >:nth-child(1) {
    margin-left: 90px;
}
.container >:nth-child(2) {
    margin-left: 205px;
}

.unit {
    width: 630px;
    margin: 0 auto;
    font-size: 16px;
    height: 37px;
    line-height: 37px;
}

.unit select,
.unit input {
    box-sizing: border-box;
    height: 37px;
    border-radius: 5px;
    font-size: 16px;
}

.unit #city {
    width: 190px;
    margin-left: 20px;
}

.unit #school-name {
    width: 310px;
    margin-left: 45px;
}

.unit #employer-name {
    width: 545px;
    margin-left: 20px;
    padding-left: 10px;
}

.unit #school > * {
    float: left;
}

.container .unit {
    margin-top: 50px;
}

.unit div label {
    display: inline-block;
    width: 65px;
    text-align: right;
}

.hide {
    display: none;
}