* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    background-color: #CCC;
    top: -100px;
    left: -200px;
    margin-left: 50%;
    margin-top: 50%;
    width: 400px;
    height: 200px;
}