.container {
    margin: 0 auto;
    width: 395px;
}

.container button {
    float: right;
}

.input-box {
    margin: 10px auto;
}

.input-box >* {
    float: left;
}

.input-box span,
.input-box label {
    font-size: 9px;
    font-family: "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, sans-serif;
}

.input-box label {
    width: 40px;
    text-align: right;
    line-height: 24px;
}

.input,
.check-btn {
    height: 24px;
    border-radius: 3px;
    font-size: 12px;
    box-sizing: border-box;
}

.check-btn {
   color: #FFFFFF;
    width: 55px;
    background-color: #2F79BA;
}

.input {
    width: 340px;
    margin-left: 15px;
    padding-left: 10px;
    border: solid 1px lightgrey;
}

.check-result {
    clear: left;
    margin-left: 55px;
    color: grey;
}

.highlight {
    color: red;
}

.highlight-border {
    border-color: red;
}
