body {
    background-color: lightgray;
}

.container {
    text-align: center;
    margin: 0 auto;
}

.left,
.right,
.middle {
    width: 33%;
    float: left;
}

.left,
.right {
    line-height: 955px;
}
.middle img {
    width: 275px;
    height: 955px;
}