body {
    background-color: black;
}
.container {
    margin: 0 auto;
    width: 1280px;
    height: 4554px;
    background-color: #FFFFFF;
}

.header {
    height: 56px;
}

.red-text {
    color: #ff6666;
}

.red-bar {
    background: url("../image/red_bar.jpg") bottom no-repeat;
}
.logo {
    float: left;
    height: 100%;
    margin-left: 59px;
    font-size: 21px;
    font-family: "黑体", "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti,  sans-serif;
    color: #333333;
}

.logo *{
    vertical-align: middle;
}

.helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.navigator {
    height: 100%;
    float: right;
    font-size: 14px;
    line-height: 14px;
    font-family: "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, "黑体", sans-serif;
}

.navigator a {
    display: inline-block;
    height: 19px;
    float: left;
    margin-top: 14px;
    padding-left: 20px;
    padding-right: 25px;
}

.navigator a *{
    vertical-align: middle;
}

#login-img {
    vertical-align: middle;
    margin-right: 5px;
}

.navigator a:last-child {
    padding-left: 6px;
    padding-right: 67px;
}

#intro-image-box, #intro-image{
    height: 690px;
    width: 100%;
}

#intro-section {
    height: 250px;
}

#about-new-world {
    height: 360px;
    background-color: #EEECED;
}

#world-img-box, #world-img{
    width: 100%;
    height: 340px;
}

#gallery-box {
    height: 605px;
    background-color: #F8F8F8;
}

#time-box {
    height: 565px;
}

#time-box-1 {
    height: 520px;
}

#join-us {
    height: 750px;
}

#contact-us {
    height: 360px;
    background-color: #33363F;
}

#copyright {
    height: 55px;
    background-color: #30303A;
}

.footer {
    color: #FFFFFF;
}