.left-box {
    float: left;
}

.right-box {
    float: right;
}

.main {
    height: 1266px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    height: 55px;
    background-color: #2189bf;
}

.header .container,
.header .container .left-box,
.header .container .right-box {
    height: 100%;
}

.header .container .right-box > *,
.header .container .left-box > * {
    vertical-align: middle;
}

.header .container .left-box {
    margin-left: 50px;
}

.header .container .right-box {
    margin-right: 90px;
}

.logo {
    display: inline-block;
}

.vertical-center-helper {
    display: inline-block;
    line-height: 100%;
    height: 100%;
}

.search-box {
    display: inline-block;
    position: relative;
}

.search-input {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding-left: 40px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.search-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
}

.header .container .right-box .search-box {
    width: 315px;
    height: 30px;
}

.font10 {
    font-size: 10px;
}

.font11 {
    font-size: 11px;
}

.font12 {
    font-size: 12px;
}

.font13 {
    font-size: 13px;
}

.font16 {
    font-size: 16px;
}

.font21 {
    font-size: 21px;
}

.header .container .right-box .font12 {
    font-family: "Adobe Heiti Std", "黑体", Heiti, "微软雅黑", "Microsoft YaHei", Helvetica, Tahoma, Arial, SimSun, sans-serif;
    color: #FFFFFF;
    margin-left: 5px;
}

.header .container .right-box > img {
    margin-left: 15px;
}

.content .left-box,
.content .right-box {
    height: 1211px;
}

.content .left-box {
    width: 260px;
    background-color: #2a2e3d;;
}

.content .right-box {
    width: 1020px;
    background-color: #eeeeed;
}

.user-logo-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px #B9B9BE;
    position: relative;
}

.user-logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #B9B9BE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#user-info-top .font16 {
    font-family: "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, sans-serif;
    color: #FFFFFF;
}

#user-info-top >* {
    vertical-align: middle;
}

#user-info-top {
    margin-left: 45px;
    margin-top: 20px;
}

#user-info-top #user-name {
    margin-left: 15px;
}

#user-info-bottom {
    margin-top: 20px;
}

#user-info-bottom .font12,
#user-info-bottom .font16 {
    color: #669999;
    text-align: center;
}

#user-info-bottom >div {
    display: inline-block;
}

#user-info-bottom >div:first-child {
    margin-left: 60px;
    margin-right: 55px;
}

#user-nav-box {
    font-family: "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, sans-serif;
    margin-top: 35px;
    margin-left: 45px;
    color: #669999;
}

#user-nav-box ul li {
    margin-bottom: 35px;
}

.content .right-box .path {
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background-color: #FFFFFF;
}

.content .right-box .path .font12 {
   color: #999999;
    font-family: "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, sans-serif;
}

.inner-container {
    width: 890px;
    margin-left: 60px;
}

.query {
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 30px;
    margin-top: 20px;
    height: 85px;
    background-color: #FFFFFF;
    color: #aaaaaa;
}

.query >div ,
.query >div >* ,
.query >div >* >* {
    float: left;
}

.query >div span {
    line-height: 25px;
}

.query >div select {
    margin-left: 15px;
}

.select-sm {
    height: 25px;
    width: 70px;
}

.select-md {
    height: 25px;
    width: 120px;
}

select.font12 {
    font-family: "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, sans-serif;
}

.query >div:nth-child(2) {
    position: relative;
    width: 190px;
    margin-left: 40px;
}

.query >div:nth-child(2) .select-box:nth-child(2),
.query >div:nth-child(3) .select-box:nth-child(3),
.query >div:nth-child(3) .select-box:nth-child(4) {
   margin-top: 5px;
}

.query >div:nth-child(3) {
    width: 290px;
    margin-left: 30px;
}

.query >div:nth-child(3) .select-box:nth-child(2),
.query >div:nth-child(3) .select-box:nth-child(4) {
   margin-left: 15px;
}

.query >div:nth-child(3) .select-box:nth-child(2) select,
.query >div:nth-child(3) .select-box:nth-child(4) select {
    margin-left: 10px;
}

.query >div:last-child {
    margin-top: 15px;
    margin-left: 30px;
}

.query button {
    width: 50px;
    height: 25px;
}

#switch-font,
#switch {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 0;
}

#switch-font {
    right: 2px;
    color: #FFFFFF;
    z-index: 1;
}

.history {
    margin-top: 10px;
    height: 65px;
    font-family: "微软雅黑", "Microsoft YaHei", Helvetica, Tahoma, Arial, SimSun, Heiti, "黑体", sans-serif;
}

.history > div {
    float: left;
    padding-top: 8px;
    margin-right: 5px;
    text-align: center;
    background-color: #FFFFFF;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.history > div:last-child {
    text-align: left;
    margin-right: 0;
    width: 130px;
    padding: 0;
}

.history > div:last-child >* {
    vertical-align: middle;
}

.history > div:last-child >:nth-child(1),
.history > div:last-child >:nth-child(2) {
    margin-left: 10px;
}

.history .money {
    width: 110px;
}

.history .money .font21 {
    color: #ff6600;
    line-height: 30px;
}

.history .money .font12 {
    color: #666666;
    line-height: 12px;
}

.nav-arrow {
    width: 30px;
}

.nav-arrow-left {
   background: url("../image/arrow-left.png") center no-repeat;
}

.nav-arrow-right {
    background: url("../image/arrow-right.png") center no-repeat;
}

.statistic {
    margin-top: 20px;
    height: 90px;
    font-family: "微软雅黑", "Microsoft YaHei", Helvetica, Tahoma, Arial, SimSun, Heiti, "黑体", sans-serif;
}

.color-box {
    width: 60px;
    height: 45px;
}

.statistic .volume {
    float: left;
    padding-left: 7px;
    width: 200px;
    height: 70px;
    background: #FFFFFF;
    margin-right: 30px;
    border-left: solid 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.statistic >div:first-child {
    margin-bottom: 5px;
}

.statistic .font12 {
    color: #333333;
}

.statistic .volume p:nth-child(1) {
    margin-top: 20px;
}

.statistic .volume p:nth-child(2) {
   margin-top: 12px;
}

.statistic .volume .font12 {
    color: #333333;
    font-family: "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, sans-serif;
}

.statistic .volume .font10 {
    color: #999999;
    font-family: "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, sans-serif;
}

.statistic .volume:nth-child(2) {
    border-left-color: #43b29e;
}

.statistic .volume:nth-child(2) .color-box {
   background-color: #43b29e;
}

.statistic .volume:nth-child(3) {
    border-left-color: #388ac1;
}

.statistic .volume:nth-child(3) .color-box {
   background-color: #388ac1;
}

.statistic .volume:nth-child(4) {
    border-left-color: #d04b36;
}

.statistic .volume:nth-child(4) .color-box {
   background-color: #d04b36;
}

.statistic .volume:nth-child(5) {
    border-left-color: #e2cd46;
}

.statistic .volume:nth-child(5) .color-box {
   background-color: #e2cd46;
}

.statistic .volume:last-child {
    margin-right: 0;
}

.statistic .volume .color-box {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.tables {
    margin-top: 10px;
}

.content-box-sm,
.content-box {
    height: 355px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    background-color: #FFFFFF;
    float: left;
    margin-top: 10px;
    box-sizing: border-box;
}

.content-box-sm {
    width: 350px;
}

.content-box {
    width: 530px;
}

.right {
    float: right;
}

.content-box-sm .content-title-box,
.content-box .content-title-box {
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid 1px lightgrey;
    height: 40px;
    background-color: #F4F5F7;
    box-sizing: border-box;
}

.content-title-box[class~=font12] {
    color: #aaaaaa;
    font-family: "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, sans-serif;
    line-height: 40px;
}

.content-main-box {
    position: relative;
}

#projects .content-main-box {
    margin: 10px 20px;
    height: 278px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tab {
    float: left;
}

#projects .tab {
    margin-left: 5px;
}
#projects .tab:first-child {
    margin-left: 0;
}

.tab [type=radio] {
    display:none;
}

.tab label {
    background: #ededf0;
    position: relative;
}

[type=radio]:checked ~ label {
    background: white;
    border: 1px solid #cccccc;
    border-bottom: 1px solid white;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .tab-body {
    z-index:1;
}

.tab-body {
    border: solid 1px #CCCCCC;
    position: absolute;
    background: white;
}

#projects .tab .font12 {
    font-family: "微软雅黑", "Microsoft YaHei", Helvetica, Tahoma, Arial, SimSun, Heiti, "黑体", sans-serif;
    color: #666666;
    line-height: 28px;
}

#projects .tab label {
   display: inline-block;
    width: 85px;
    height: 29px;
    text-align: center;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#projects .tab .tab-body {
    box-sizing: border-box;
    width: 490px;
    height: 250px;
    left: 0;
    top: 28px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#projects .tab .tab-body table {
   border: solid 1px #CCCCCC;
    margin-left: 35px;
    margin-top: 30px;
    width: 402px;
    height: 185px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-collapse: collapse;
}

#projects .tab .tab-body[class~='font12'] {
    color:#666666;
    font-family: "宋体", SimSun, "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, Heiti, sans-serif;
    text-align: center;
}

#projects .tab .tab-body table * {
    border: solid 1px #CCCCCC;
}

#cars {
    margin-left: 40px;
    margin-top: 20px;
    width: 450px;
    height: 273px;
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: center;
    font-family: "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, sans-serif;
}

#cars,
#cars tr,
#cars td {
    border: solid 1px #CCCCCC;
    border-bottom: none;
}

#cars .font13 {
    color: #330000;
}

#cars[class~=font12] {
    color: #333333;
}

#cars tr td:first-child {
    width: 68px;
}

#cars tr td:nth-child(2) {
    width: 92px;
}

.color-red {
    background-color: #ed6e52;
    width: 85%;
}

.color-red1 {
    background-color: #ee804f;
    width: 75%;
}

.color-red2 {
    background-color: #f19f4f;
    width: 65%;
}

.color-blue {
    background-color: #7ecaef;
    width: 60%;
}

.color-bar-box {
    margin-left: 20px;
    display: inline-block;
    height: 5px;
    width: 170px;
    background-color: #dddcdc;
}

.color-bar {
    float: left;
    height: 100%;
}

#adv-search {
    height: 235px;
    width: 279px;
    margin-top: 10px;
    margin-left: 35px;
    border-collapse: collapse;
    font-family: "微软雅黑", "Microsoft YaHei", Helvetica, Tahoma, Arial, SimSun, Heiti, "黑体", sans-serif;
}

#adv-search,
#adv-search td,
#adv-search tr {
    padding-left: 10px;
    border-bottom: solid 1px #CCCCCC;
    vertical-align: top;
    box-sizing: border-box;
}

#adv-search tr {
    height: 45px;
}

#adv-search tr:last-child {
    height: 147px;
}

#adv-search tr:nth-child(2) td:first-child {
    border-right: solid 1px #CCCCCC;
}

#adv-search .title {
    color: #cccccc; 
}

#adv-search .content {
    color: #666666; 
}

#adv-search-box {
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 35px;
}

#adv-search-box .font12 {
    color: #c3c2c2;
    font-family: "微软雅黑", "Microsoft YaHei", Helvetica, Tahoma, Arial, SimSun, Heiti, "黑体", sans-serif;
}

#adv-search-box button {
    float: right;
    width: 50px;
    height: 25px;
}

#adv-search-box input[type=checkbox] {
    display: none;
}

#adv-search-box input[type=checkbox]:checked + label:before {
    background-color: #d5d5d5;
    content: '\2713';
    text-align: center;
}

#adv-search-box input[type=checkbox] + label:before {
    margin-right: 10px;
    vertical-align: middle;
    border: solid 1px #d5d5d5;
    line-height: 11px;
    width: 11px;
    height: 11px;
    background-color: #FFFFFF;
    display: inline-block;
    content: '\00a0';
}

#calender button,
#calender select {
    height: 100%;
    font-size: 12px;
    font-family: "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, sans-serif;
    color: #666666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#calender button {
    width: 64px;
    background-color: #FFFFFF;
    border: solid 1px #aaaaaa;
}

#calender #year-select {
    width: 64px;
}

#calender #month-select {
    width: 85px;
}

#calender #day-select {
    width: 75px;
}

#calender .content-main-box {
    position:relative;
    padding: 10px 20px;
}

#calender .content-main-box >div >* {
    margin-right: 6px;
    float: left;
}

#calender .content-main-box >div >*:last-child {
    margin-right: 0;
}

#calender .content-main-box >div:first-child {
    height: 22px;
}

#calender table {
    margin-top: 10px;
    width: 310px;
    height: 252px;
    text-align: center;
}

#calender table td {
    height: 43px;
    box-sizing: border-box;
}

#calender table[class~=font11] {
    color: #333333;
    font-family: "黑体", SimHei, "微软雅黑", Helvetica, Tahoma, Arial, SimSun, Heiti, sans-serif;
}

#calender table tr:first-child td {
    box-sizing: border-box;
    height: 31px;
}

.tb-head-line-top {
    position: absolute;
    top: 42px;
   height: 1px;
    width: 310px;
    background-color: #66a9dd;
}

.tb-head-line-bottom {
    position: absolute;
    top: 73px;
    height: 1px;
    width: 310px;
    background-color: #c2c3c4;
}

.highlight-td {
   border: solid 1px #f4c21d;
}

.highlight-font {
    color:#cc0033;
}
