* {
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    border: solid 1px black;
}

.flex-container div {
    box-sizing: border-box;
    width:  150px;
}

.red-border {
    border: solid 1px red;
}

.blue-border {
    border: solid 1px blue;
}

.flex-container div:first-child {
    height: 120px;
}

.flex-container div:nth-child(2) {
    height: 100px;
}

.flex-container div:nth-child(3) {
   height: 40px;
}

.flex-container div:nth-child(4) {
    height: 200px;
}

@media (min-width: 641px) {
    .flex-container div:first-child {
        order: 1;
    }

    .flex-container div:nth-child(2) {
        order: 2;
    }

    .flex-container div:nth-child(3) {
        order: 3;
    }

    .flex-container div:nth-child(4) {
        order: 4;
    }
}

@media (max-width: 641px) {
    .flex-container {
        align-items: flex-start;
    }

    .flex-container div:first-child {
        order: 2;
    }

    .flex-container div:nth-child(2) {
        order: 3;
    }

    .flex-container div:nth-child(3) {
        order: 4;
    }

    .flex-container div:nth-child(4) {
        order: 1;
    }
}